<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Botão de Compra Flutuante
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category   Ziny
 * @package    ComprarFlutuante
 * @copyright  Copyright (c) 2015 Agência Ziny (www.agenciaziny.com.br)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Agência Ziny <dev@agenciaziny.com.br>
 */
-->
<config>
    <tabs>
        <ziny translate="label">
            <label>Ziny Extensions</label>
            <sort_order>202</sort_order>
        </ziny>
    </tabs>
    <sections>
        <comprarflutuante translate="label" module="comprarflutuante">
            <label>Buy Floating Button</label>
            <class>comprarflutuante</class>
            <tab>ziny</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <geral translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ativo translate="label comment">
                            <label>Enable</label>
                            <comment>Defines whether the module is active or not.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>							
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ativo>
                        <cor_fundo translate="label comment">
                            <label>Box Background Color</label>
                            <comment>Define box background color.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cor_fundo>
                        <cor_sombra translate="label comment">
                            <label>Box Shadow Color</label>
                            <comment>Shadow box color.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cor_sombra>
                        <cor_borda translate="label comment">
                            <label>Box Border Color</label>
                            <comment>Box border color.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cor_borda>
                        <cor_esconder translate="label comment">
                            <label>Background Hide Button</label>
                            <comment>Button background color to hide the box.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cor_esconder>
                        <cor_escondido translate="label comment">
                            <label>Background Hidded Button</label>
                            <comment>Button background color when the box is hidden.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cor_escondido>
                        <fonte_esconder translate="label comment">
                            <label>Font Color Hide Button</label>
                            <comment>Arrow color button to hide the box.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fonte_esconder>
                        <fonte_escondido translate="label comment">
                            <label>Font Color on Hidded Button</label>
                            <comment>Arrow color button when the box is hidden.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fonte_escondido>
                        <distancia_topo translate="label comment">
                            <label>Margin Top</label>
                            <comment>Margin in box is the top of the screen (px or %).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </distancia_topo>
                        <distancia_lateral translate="label comment">
                            <label>Side Margin</label>
                            <comment>Margin in box is the top of the screen (px or %).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </distancia_lateral>
                        <caixa_lado translate="label comment">
                            <label>Position of the Floating Button</label>
                            <comment>Which side of the screen the button box should appear.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>comprarflutuante/config_lado</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </caixa_lado>
                        <caixa_tamanho translate="label comment">
                            <label>Box Size</label>
                            <comment>If blank the box assumes the automatic size (px or %).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </caixa_tamanho>
                    </fields>
                </geral>
            </groups>
        </comprarflutuante>
    </sections>
</config>